@import url('https://fonts.googleapis.com/css?family=Righteous');

body {
    background-color: #9980FA;
    color: #1B1464;
    font-family: 'Righteous', cursive;
    font-size: 25px;
    flex-direction: column;
    display: flex;
    align-items: center;
    height: 100vh;
}

button {
    margin: 20px;
    background-color: #5758BB;
    color: white;
    border: none;
    width: 200px;
    height: 100px;
    font-size: 20px;
    font-family: 'Righteous', cursive;
    font-size: 25px;
}

button:hover {
    background-color: #0652DD;
    cursor: pointer;
}
.stopwatch {
    font-size: 60px;
    //margin: 30px;
    text-align: center;
}

span {
    width: 120px;
    display: inline-block;
}